{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>*The moment testing stage is completed the project
        will be deemed as completed and all project manager and associates will be released from it.</h3>
    <h1>Project Manager</h1>
<ul>
    <li>
       Register and login
   </li>
    <li>
       View and edit the dashboard(read and write access)
   </li>
   <li>
       Create a project
   </li>
    <li>
       Update a project
   </li>
       <li>
        Add associates to project
   </li>
       <li>
       Send notifications(an email will be sent to everyone selected)
   </li>
       <li>
        Create activities
   </li>
    <li>
        View profile
   </li>

</ul>
    <h1>Associates</h1>
    <ul>
    <li>
       Register and login
   </li>
    <li>
       View dashboard(read-only access)
   </li>
   <li>
       Send notifications(an email will be sent to everyone selected)
   </li>
   <li>
        Create activities
   </li>
    <li>
        View profile
   </li>

</ul>
</div>
{% endblock %}